@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
}

body {
  background: linear-gradient(135deg,var(--background), #0d3420);
  /* background: black; */

  font-family: Arial, Helvetica, sans-serif;
  /* cursor: none; */
}
